body {
  margin: 0;
  overflow: hidden;
  background-color: black;
  font-family: Arial, sans-serif;
}

h1, h2, h3 {
  color: white;
  text-align: center;
  position: fixed;
  width: 100%;
  margin: 0;
  pointer-events: none;
  transition: opacity 0.5s ease-in-out;
}

#title {
  font-size: 4em;
  top: 10%;
}

#year {
  font-size: 2em;
  top: 30%;
}

#info {
  font-size: 1.5em;
  top: 35%;
}
